{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "svelte3",
    "cypress",
    "chai-friendly"
  ],
  "extends": [
    "plugin:cypress/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "**/*.svelte"
      ],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}