{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "svelte3"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "**/*.svelte",
      ],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {}
}